# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*$py.class
.vscode
*/settings.json

# Environments
.env
/env

# Latex
*/paper-draft/*
!*/paper-draft/images/*
!*/paper-draft/paper.tex
!*/paper-draft/ref.bib
!*/paper-draft/paper.pdf


